.DS_Store
~$*.docx
平台代码/tools/
**/node_modules/
*.zip
node_modules/
.env
.env.*
# 平台代码/backend/data/
平台代码/backend/data/*.db-shm
平台代码/backend/data/*.db-wal
# database/data/
database/data/*.db-shm
database/data/*.db-wal
